---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

import "../styles/global.css";
import "../styles/variable.css";

import { ICON, AUTHOR, TITLE, DESCRIPTION, THEME_COLOR } from "../scripts/constants";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={ICON} />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<meta name="description" content={DESCRIPTION} />
        <meta name="author" content={AUTHOR} />
        <meta name="theme-color" content={THEME_COLOR} />

		<meta property="og:title" content={TITLE} />
		<meta property="og:description" content={DESCRIPTION} />
		<meta property="og:image" content={ICON} />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:site_name" content={AUTHOR} />
		<meta property="og:type" content="website" />


		<title set:text={ TITLE } />

		<script is:inline>
			const theme = localStorage.getItem("theme") || "light";
			document.documentElement.dataset.theme = theme;
		</script>

		<link
            rel="preload"
            href="/fonts/Satoshi-Variable.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
	</head>
	<body>

		<div class="flex flex-col p-3 justify-center items-center">
			<Header>
				<h1 class="py-2 text-2xl font-extrabold" set:html={ title } />
			</Header>

			<slot />

			<Footer />
		</div>

	</body>
</html>
